{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "ios 8"]
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["last 2 versions", "ios 8"]
            }
          }
        ],
        "react",
        "stage-2"
      ]
    }
  }
}
